%h1= "How to play Beer Quest IV"
.content
  = image_tag "tutorial/page-#{@page}_#{I18n.locale}.png"
%table.nav
  %tr
    %td.left
      - if @page < 5
        %a.facebox-close{:href => 'javascript:void(0)'} Play
    %td.center
      = "Step #{@page}/5"
    %td.right
      - if @page < 5
        %a.facebox-next{:href => 'javascript:void(0)'} Next
      - else
        %a.facebox-close{:href => 'javascript:void(0)'} Play

:javascript
  $(function()
  {
    $('.facebox-close').click(function()
    {
      $(document).trigger('close.facebox');
    });
    $('.facebox-next').click(function()
    {
      $.facebox(function() {
        $.get("#{tutorial_url(@page + 1)}", function(data) { $.facebox(data) });
      })
    });
  });