<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml", 'xmlns:og' => "http://opengraphprotocol.org/schema/", :lang => I18n.locale}
  %head
    %title= t('meta.title')
    %meta{:charset => "utf-8"}
    %meta{:property => "og:title", :content => t('meta.title')}
    %meta{:property => "og:type", :content => "game"}
    %meta{:property => "og:url", :content => "#{BeerQuest::FB_APP_URL}"}
    %meta{:property => "og:image", :content => "#{home_url}images/bq-75-75.png"}
    %meta{:property => "og:site_name", :content => t('meta.site_name')}
    %meta{:property => "fb:app_id", :content => BeerQuest::FB_APP_ID}
    %meta{:property => "og:description", :content => t('meta.description')}
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'jquery.swfobject.1-1-1.min'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'facebox'
    = javascript_include_tag 'facebox'
    - if @css
      = stylesheet_link_tag @css
    <!--[if lte IE 6]>
    = stylesheet_link_tag 'ie6.css'
    <![endif]-->
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18886894-1']);
      _gaq.push(['_setDomainName', '.bq-4.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #fb-root
    = javascript_include_tag "http://connect.facebook.net/#{I18n.locale == :fr ? 'fr_FR' : 'en_US'}/all.js"
    :javascript
      FB.init({appId: "#{BeerQuest::FB_API_KEY}", status: true, cookie: true, xfbml: true});
    #main
      #header
        #banner
          %a{:href => home_url}
            = image_tag 'logo-BQ4.png', :alt => t('beerquest'), :class => 'logo'
          .like-button
            %fb:like{:href => BeerQuest::FB_APP_URL, :layout => 'button_count'}
          .stats-container
            .stats
              #world-score
                = render :partial => 'partials/world_score'
        #nav
          %ul
            %li{:class => (@nav == 'home' ? 'current' : '')}
              = link_to t('nav.home'), home_url
            %li{:class => (@nav == 'bar' ? 'current' : '')}
              = link_to t('nav.play'), bar_url(@me.last_bar)
            %li{:class => (@nav == 'challenge' ? 'current' : '')}
              = link_to t('nav.challenge'), invite_url
            %li
              = link_to t('nav.help'), help_url, :target => '_blank'
            %li{:class => (@nav == 'support_us' ? 'current' : 'special')}
              = link_to t('nav.support'), support_us_blog_url, :target => '_blank'
            %li.last
              = link_to t('nav.blog'), blog_url, :target => '_blank'
      #flash
        - if flash[:error]
          .error= flash[:error]
        - if flash[:notice]
          .notice= flash[:notice]
      - if admin?
        #admin
          %div= "ADMIN! uid=#{@me.id} fbid=#{@me.facebook_id} fn=#{@me.full_name}"
          %div= link_to "Test accounts", :controller => 'admin', :action => 'test_accounts'
          %div= link_to "Age restrictions", :controller => 'admin', :action => 'restrictions'
      #content
        = yield
      #footer
        = link_to t('nav.blog'), blog_url, :target => '_blank'
        |
        = link_to t('nav.support'), support_us_blog_url, :target => '_blank'
        |
        = link_to t('nav.bartners'), bartners_program_url, :target => '_blank'
        %br
        = link_to t('nav.tos'), tos_url, :target => '_blank'
        |
        = link_to t('nav.privacy'), privacy_url, :target => '_blank'