<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml", :lang => I18n.locale}
  %head
    %title= "Beer Quest - #{@me.full_name}"
    %meta{:charset => "utf-8"}
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    = javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'jquery.swfobject.1-1-1.min'
    = javascript_include_tag 'jquery-ui-1.8.5.custom.min'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.5.custom'
    - if @css
      = stylesheet_link_tag @css
    <!--[if lte IE 6]>
    = stylesheet_link_tag 'ie6.css'
    <![endif]-->
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18886894-1']);
      _gaq.push(['_setDomainName', '.bq-4.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        FB.init({appId: "#{BeerQuest::FB_API_KEY}", status: true, cookie: true, xfbml: true});
        FB.Canvas.setAutoResize();
      };
      (function() {
        var e = document.createElement('script');
        e.async = true;
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());

      function reloadWorldScore() {
        $.get("#{async_world_score_url}");
      }
    #main
      #header
        #banner
          %a{:href => home_url}
            = image_tag 'logo-BQ4.png', :alt => t('beerquest'), :class => 'logo'
          .like-button
            %fb:like{:href => BeerQuest::FB_APP_URL, :layout => 'button_count'}
          .stats-container
            .stats
              #world-score
                = render :partial => 'partials/world_score'
              = image_tag 'bierre-logo.png', :alt => t('beers'), :class => 'beer'
        #nav
          %ul
            %li.home
              = link_to t('nav.home'), home_url
            %li
              = link_to t('nav.play'), bar_url(@me.last_bar)
            %li
              = link_to t('nav.challenge'), invite_url
            %li
              = link_to t('nav.help'), help_url, :target => '_blank'
            %li.special
              = link_to t('nav.support'), support_us_url
            %li.last
              = link_to t('nav.blog'), blog_url, :target => '_blank'
      #flash
        -#.notice= "uid=#{@me.id} fbid=#{@me.facebook_id} fn=#{@me.full_name}"
        - if flash[:error]
          .error= flash[:error]
        - if flash[:notice]
          .notice= flash[:notice]
      #content
        = yield
