<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => I18n.locale}
  %head
    %title= t('meta.title')
    %meta{:charset => "utf-8"}
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    = javascript_include_tag 'jquery.colorbox-min'
    = csrf_meta_tag
    = stylesheet_link_tag 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css'
    = stylesheet_link_tag 'colorbox-content'
    <!--[if lte IE 6]>
    = stylesheet_link_tag 'ie6.css'
    <![endif]-->
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18886894-1']);
      _gaq.push(['_setDomainName', '.bq-4.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = yield