<!DOCTYPE html>
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml", 'xmlns:og' => "http://opengraphprotocol.org/schema/", :lang => I18n.locale}
  %head
    %title= t('meta.title')
    %meta{:charset => "utf-8"}
    %meta{:property => "og:title", :content => t('meta.title')}
    %meta{:property => "og:type", :content => "game"}
    %meta{:property => "og:url", :content => "#{BeerQuest::FB_APP_URL}"}
    %meta{:property => "og:image", :content => "#{home_url}images/bq-75-75.png"}
    %meta{:property => "og:site_name", :content => t('meta.site_name')}
    %meta{:property => "fb:app_id", :content => BeerQuest::FB_APP_ID}
    %meta{:property => "og:description", :content => t('meta.description')}
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag 'jquery.timers'
    = javascript_include_tag 'jquery.aautoscroll.2.4'
    = csrf_meta_tag
    = stylesheet_link_tag 'widget'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18886894-1']);
      _gaq.push(['_setDomainName', '.bq-4.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = yield