- @css = 'support_us'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.unique-col

      %table.main-content
        %tr
          %td.left-col
            %h1= t 'support_us.title'
            %h2= t 'support_us.subtitle'

            .intro= t 'support_us.intro'

            - (1..7).each do |i|
              .offer{:id => "offer#{i}"}
                .title
                  = link_to donate_url(i), :method => :post, :class => 'offer-button' do
                    .button-text= t('support_us.offers.button')
                  &gt;
                  = t "support_us.offers.offer#{i}.title"
                  .tag= t "support_us.offers.offer#{i}.tag"
                .description
                  = t "support_us.offers.offer#{i}.description_html"

            .warning-box
              - (1..2).each do |i|
                .warning
                  %span.title= t "support_us.warnings.warning#{i}.title"
                  %span.description= t "support_us.warnings.warning#{i}.description_html"

          %td.right-col
            .beermeter
              %h2 Beer-O-Metre
              .content
                Grâce à vous nous avons bu 2.334.123 cl de bière.
                %br
                *Hips* *Hips* *Hips* Ourhaaaaaa !

            #faq
              .title= t 'support_us.faq.title'
              %ul.questions
                - (1..5).each do |i|
                  %li
                    .question= t "support_us.faq.entry#{i}.question"
                    .answer= t "support_us.faq.entry#{i}.answer_html"

    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow
