%h1 Board
%code
  = debug @board.dump
%h1 Groups
%code
  = debug @board.groups
%h1 Moves
%code
  = debug @board.moves

%ol
  - mt = Game::MersenneTwister.new(5483)
  = debug mt
  - 1000.times do
    %li
      = "#{mt.next_int(1, 1000)}"