%h1 Board
%ul
  - @steps.each do |step|
    - if step.class == Game::Board
      %li= board(step)
    - else
      %li= step

%h1 Groups
%code
  = debug @board.groups

%h1 Moves
%code
  = debug @board.moves

%h1 Replay
%code
  = debug @replay