.bar
  .title= bar.name
  .banner
    = image_tag bar.banner_big, :alt => bar.name, :class => 'bar-banner'
  %table
    %tr
      %td.members
        = t('home.bar.member_count', :count => number_with_delimiter(bar.total_members))
      %td.high-score
        = t('home.bar.high_score')
        = bar.weekly_high_score
        = image_tag 'mini-biere.png', :alt => t('beers')
  .button
    %a{:href => bar_url(bar)}
      = image_tag "play-in-this-bar_#{I18n.locale}.png", :alt => t('home.bar.enter_button')