.bar
  %table.bar-header
    %tr
      %td.name
        = bar.name
      %td.members
        = t 'home.score.bar.member_count', :count => number_with_delimiter(bar.total_members)
  %table.bar-content
    %tr
      %td.banner
        = image_tag bar.banner_big, :alt => bar.name, :class => 'bar-banner'
      %td.scores
        .score
          = t 'home.score.bar.score_7d'
          %br
          = image_tag 'mini-biere.png', :alt => t('beers')
          = bar.always_high_score_for(@me)
        .score
          = t 'home.score.bar.best_score'
          %br
          = image_tag 'mini-biere.png', :alt => t('beers')
          = bar.weekly_high_score_for(@me)
  .button
    = link_to t('home.score.bar.enter_button'), bar_url(bar)