%ul.messages
  - if @challenge.messages.empty?
    %li
      %span.none= t 'challenge.right.history.empty'
  - else
    - @challenge.messages.each do |msg|
      %li
        = image_tag msg.account.profile_picture, :alt => msg.account.full_name, :class => 'mini-portrait'
        = image_tag 'mini-biere.png', :alt => t('beers')
        %span.score= msg.score
        = "-"
        %span.date= l(msg.updated_at, :format => :short)
        %br
        %span.name= msg.account.full_name
        - if msg.message
          &laquo;
          = msg.message
          &raquo;
