- if challenge.account == @me # Received challenge
  %tr.challenge
    %td.portrait
      = image_tag challenge.sent_by.profile_picture, :class => 'portrait'
    %td.description
      .name= challenge.sent_by.full_name
      .status= t(challenge.new_challenge? ? 'home.battle.received_challenge.new_description' : 'home.battle.received_challenge.description', :date => l(challenge.created_at, :format => :short))
    %td.score
      = image_tag 'mini-biere.png', :alt => t('beers')
      = challenge.required_score
    %td.action
      .button
        = link_to t('home.battle.received_challenge.battle_button'), challenge_url(challenge)
- else # Sent challenge
  %tr.challenge
    %td.portrait
      = image_tag challenge.account.profile_picture, :class => 'portrait'
    %td.description
      .name= challenge.account.full_name
      .status= t(challenge.new_challenge? ? 'home.battle.sent_challenge.new_description' : 'home.battle.sent_challenge.description', :date => l(challenge.created_at, :format => :short))
    %td.score
      = image_tag 'mini-biere.png', :alt => t('beers')
      = challenge.required_score
    %td.action
