%table.challenge-grid
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
  = render :partial => 'challenge'
.battle-warning= t 'home.battle.warning.sent_html'
