- @css = 'bar'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.unique-col
      %table.bar-area
        %tr
          %td.bar-name{:colspan => 2}
            %table.vs
              %tr
                %td.player-me
                  .name= @me.full_name
                  .scores
                    %span.loose= t 'challenge.title.loose_count', :count => @me.victory_points
                    = " / "
                    %span.respect= t 'challenge.title.respect_count', :count => @me.defeat_points
                %td.portrait-me
                  = image_tag @me.profile_picture, :alt => @me.full_name, :class => 'portrait'
                %td.vs
                  %div= t 'challenge.title.vs'
                  .round= t 'challenge.title.round', :round => @challenge.round
                %td.portrait-opponent
                  = image_tag @challenger.profile_picture, :alt => @challenger.full_name, :class => 'portrait'
                %td.player-opponent
                  .name= @challenger.full_name
                  .scores
                    %span.loose= t 'challenge.title.loose_count', :count => @challenger.victory_points
                    = " / "
                    %span.respect= t 'challenge.title.respect_count', :count => @challenger.defeat_points
        %tr
          %td.play-field{:colspan => 2}
            #game
          %td.sidebar
            %ul.tabs
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'challenge.right.history.title'
            .panes
              .pane#messages
                Y'en a pas pour l'instant !
                Y'en a pas pour l'instant !
                Y'en a pas pour l'instant !
        %tr.bottom
          %td.bar-scores
          %td.bar-scores
            .panes
              .pane#friendsscore-7j
                %table
                  %tr
                    %td.header= t 'bar.scores.friends'
                    %td.subnav#subtabs1
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes1
                  .subpane
                    %table.barscore-grid
                      -#= render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      -#= render :partial => 'barscore', :collection => @bar.total_scores_for(@me)
              .pane#friendsscore-always
                %table
                  %tr
                    %td.header= t 'bar.scores.friends'
                    %td.subnav#subtabs2
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes2
                  .subpane
                    %table.barscore-grid
                      -#= render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      -#= render :partial => 'barscore', :collection => @bar.total_scores_for(@me)
            %ul.tabs
              %li
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.weekly'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.always'
          %td.bar-stats
            .header
              = t 'challenge.stats.friends_stats'
            .stat
              .section= t 'challenge.stats.friend_rounds_title'
              .value= t 'challenge.stats.friend_rounds_always', :count => @me.total_rounds_with(@challenger)
            .stat
              .section= t 'challenge.stats.friend_victories_defeats'
              .value= t 'challenge.stats.friend_victories', :count => @me.total_victories_with(@challenger)
              .value= t 'challenge.stats.friend_defeats', :count => @me.total_defeats_with(@challenger)
            .stat
              .section= t 'challenge.stats.total_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@me.total_score_with(@challenger))
            %br
            .header
              = t 'challenge.stats.global_stats'
            .stat
              .section= t 'challenge.stats.total_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@me.total_score_challenge)
            .stat
              .section= t 'challenge.stats.general_stats'
              .value= t 'challenge.stats.general_challenges', :count => @me.total_challenges
              .value= t 'challenge.stats.general_won_rounds', :count => @me.total_won_rounds
              .value= t 'challenge.stats.general_lost_rounds', :count => @me.total_lost_rounds
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow

:javascript
  $(function() {
    $('#game').flash({
      swf: "/swf/BeerQuest-#{@required_version}.swf",
      width: 520,
      height: 320,
      flashvars: {
        mode: "#{@mode}",
        token: "#{@replay.token}",
        requiredVersion: #{@required_version},
        goal: #{@challenge.required_score}
      }
    });
  });

  function vsBoastVictory(score, goal)
  {

  }

  function vsBoastDefeat(score, goal)
  {
    FB.ui(
    {
      method: "stream.publish",
      user_message_prompt: "#{t('bar.endgame.boast.prompt')}",
      message: "Je me suis fait baiser à " + goal + " bières !!!",
      target_id: #{@challenge.sent_by.facebook_id},
      action_links:
      [{
        text: "#{t('bar.endgame.boast.action')}",
        href: "#{BeerQuest::FB_APP_URL}#{home_path}"
      }],
      attachement: 
      {
        name: "Turlututu",
        caption: "Titre du turlututu",
        media:
        [{
          'type': "image",
          'src': "http://erhune.iobb.net:8081/images/bq-75-75.png",
          'href': "#{BeerQuest::FB_APP_URL}#{home_path}"
        }],
        description: "Description du beau turlututu que voici !",
        href: "#{BeerQuest::FB_APP_URL}#{home_path}"
      }
    }, function(response)
    {
      if (response && response.post_id)
      {
        //alert('Post was published.');
      }
      else
      {
        //alert('Post was not published.');
      }
   });
  }

  function vsProvoke(goal)
  {
    
    alert("Mur de l'ami > T'ES TROP NUL MON POTE !");
  }

  function vsPlayAgain(score, goal)
  {
    FB.ui(
    {
      method: "stream.publish",
      user_message_prompt: "#{t('bar.endgame.boast.prompt')}",
      message: "Tu m'as bien niqué à " + goal + " bières, mon salaud !!!",
      target_id: #{@challenge.sent_by.facebook_id},
      action_links: [
        { text: "#{t('bar.endgame.boast.action')}", href: "#{BeerQuest::FB_APP_URL}#{home_path}" }
      ],
      attachement: {media: [
      {
        type: "image",
        src: "http://erhune.iobb.net:8081/images/bq-75-75.png",
        href: "#{BeerQuest::FB_APP_URL}#{home_path}"
      }]}
    });
  }
