- @css = 'home'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
    %td
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.left-col
      = image_tag 'titre-mode-score.png', :alt => t('home.score.mode'), :class => 'col-title'
      .col-content
        %table.player
          %tr
            %td.portrait{:rowspan => 2}
              = image_tag @me.profile_picture, :alt => @me.full_name, :class => 'portrait'
            %td.score-desc= t 'home.score.best_7d'
            %td.score-value
              = image_tag 'mini-biere.png', :alt => t('beers')
              = number_with_delimiter(@me.best_score_weekly)
          %tr
            %td.score-desc= t 'home.score.total_beers'
            %td.score-value.total
              = image_tag 'mini-biere.png', :alt => t('beers')
              = number_with_delimiter(@me.total_beers)
        %table.action
          %tr
            %td.description= t 'home.score.play_description_html'
            %td.action
              .button
                %a{:href => bar_url(@me.last_bar)}= t 'home.score.button_html'
        %ul.tabs
          %li
            %a{:href => 'javascript:void(0)'}= t 'home.score.tabs.favorites.title'
          %li
            %a{:href => 'javascript:void(0)'}= t 'home.score.tabs.bartners.title'
          %li.last
            %a{:href => 'javascript:void(0)'}= t 'home.score.tabs.search.title'
        .panes
          .pane#favorites
            = render :partial => 'favorite_bars'
          .pane#bartners
            = render :partial => 'partner_bars'
          .pane#search
            = render :partial => 'search_bars'
    %td.small.shadow

    %td.separator

    %td.small
    %td.right-col
      = image_tag 'titre-mode-battle.png', :alt => t('home.battle.mode'), :class => 'col-title'
      .col-content
        %table.player
          %tr
            %td.portrait{:rowspan => 2}
              = image_tag @me.profile_picture, :alt => @me.full_name, :class => 'portrait'
            %td.score-desc= t 'home.battle.respect_points', :count => number_with_delimiter(3_450)
          %tr
            %td.score-desc= t 'home.battle.shame_points', :count => number_with_delimiter(12)
        %table.action
          %tr
            %td.description= t 'home.battle.play_description_html'
            %td.action
              .button
                %a{:href => '#'}= t 'home.battle.button_html'
        %ul.tabs
          %li
            %a{:href => 'javascript:void(0)'}= t 'home.battle.tabs.current.title'
          %li
            %a{:href => 'javascript:void(0)'}= t 'home.battle.tabs.received.title', :count => 12
          %li.last
            %a{:href => 'javascript:void(0)'}= t 'home.battle.tabs.sent.title', :count => 3
        .panes
          .pane#current
            %table.challenge-grid
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
          .pane#received
            %table.challenge-grid
              = render :partial => 'challenge'
              = render :partial => 'challenge'
          .pane#sent
            %table.challenge-grid
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
            .battle-warning= t 'home.battle.warning'
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow
    %td
    %td.small
    %td.shadow
    %td.small.shadow
