.empty
- invite_msg = t("invite.message#{@invite}")
:javascript
  var initialized = function() {
    FB.ui({
      method: 'apprequests',
      title: "#{t('invite.selector')}",
      message: "#{invite_msg}"
    }, function(response) {
      if (response && response.request_ids) {
        $.post("#{invite_end_url}", {
          authenticity_token: "#{form_authenticity_token}",
          ids: response.request_ids
        }, function() {
          window.location = "#{home_url}";
        });
      } else {
        window.location = "#{home_url}";
      }
    });
  };