.empty
- invite_msg = t("invite.message#{@invite}")
:javascript
  var initialized = function() {
    FB.ui({
      method: 'apprequests',
      title: "#{t('invite.selector')}",
      message: "#{invite_msg}",
      data: "uid=#{@me.id},msg=#{@invite}"
      //filters: [{name: "", user_ids: []}]
    }, function(response) {
      if (response && response.request_ids) {
        window.location = "#{invite_end_url}?ids=" + response.request_ids.join(',');
      } else {
        window.location = "#{home_url}";
      }
    });
  };