%td.bar-name{:colspan => 2}
  .relative-container
    %h1= @bar.name
    %a{:href => @bar.url, :target => '_blank'}= @bar.url
    .member-count
      = t 'bar.member_count', :count => number_with_delimiter(@bar.total_members)
      = "-"
      = t 'bar.beer_count', :count => number_with_delimiter(@bar.total_beers)
    .help
      %a.start-tutorial{:href => tutorial_url(1), :rel => 'facebox'}
        = image_tag "how-to-play_#{I18n.locale}.png", :width => 95, :height => 58, :alt => t('bar.how_to_play')
%td.bar-logo
  = image_tag @bar.banner_small, :alt => @bar.name, :class => 'bar-banner'
