.title= t('bar.scores.title')
%ul.tabs
  %li
    %a{:href => 'javascript:void(0)'}= t('bar.scores.bar')
  %li.last
    %a{:href => 'javascript:void(0)'}= t('bar.scores.friends')
.panes
  .pane#bar-scores
    %table.score-grid
      = render :partial => 'partials/individual_score', :collection => @bar.weekly_top_scores[0...3]
      %tr
        %td.invite{:colspan => 2}
          %a{:href => invite_url}
            = image_tag "invite_#{I18n.locale}.png", :width => 162, :height => 58, :alt => t('bar.scores.invite')
      = render :partial => 'partials/individual_score', :collection => @bar.weekly_top_scores[3..-1]
  .pane#friends-scores
    %table.score-grid
      = render :partial => 'partials/individual_score', :collection => @me.weekly_friends_scores[0...3]
      %tr
        %td.invite{:colspan => 2}
          %a{:href => invite_url}
            = image_tag "invite_#{I18n.locale}.png", :width => 162, :height => 58, :alt => t('bar.scores.invite')
      = render :partial => 'partials/individual_score', :collection => @me.weekly_friends_scores[3..-1]
