- @css = 'bar'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.unique-col
      %table.bar-area
        %tr
          %td.bar-name{:colspan => 2}
            %h1= @bar.name
            %a{:href => @bar.url, :target => '_blank'}= @bar.url
            .member-count
              = t 'bar.member_count', :count => number_with_delimiter(@bar.total_members)
              = "-"
              = t 'bar.beer_count', :count => number_with_delimiter(@bar.total_beers)
          %td.bar-logo
            = image_tag @bar.banner, :alt => @bar.name, :class => 'bar-banner'
        %tr
          %td.play-field{:colspan => 2}
            #game
          %td.sidebar
            %ul.tabs
              - if @rss
                %li
                  %a{:href => 'javascript:void(0)'}= t 'bar.right.news.title'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.right.messages.title'
            .panes
              - if @rss
                .pane#rss
                  %ul.rss
                    - @rss.each do |rss|
                      %li
                        %a{:href => rss[:url]}= rss[:title]
              .pane#messages
                Y'en a pas pour l'instant !
        %tr.bottom                    
          %td.bar-scores
            .panes
              .pane#barscore-7j
                %table
                  %tr
                    %td.header= t 'bar.scores.bar'
                    %td.subnav#subtabs1
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes1
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores_for(@me)
              .pane#barscore-always
                %table
                  %tr
                    %td.header= t 'bar.scores.bar'
                    %td.subnav#subtabs2
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes2
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores_for(@me)
            %ul.tabs
              %li
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.weekly'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.always'
          %td.friends-scores
            .panes
              .pane#friendsscore-7j
                %table
                  %tr
                    %td.header= t 'bar.scores.friends'
                    %td.subnav#subtabs3
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes3
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores_for(@me)
              .pane#friendsscore-always
                %table
                  %tr
                    %td.header= t 'bar.scores.friends'
                    %td.subnav#subtabs4
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes4
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores_for(@me)
            %ul.tabs
              %li
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.weekly'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.always'
          %td.bar-stats
            .header
              = t 'bar.stats.bar_stats'
            .stat
              .section
                = t 'bar.stats.bar_rank'
              .value
                = "##{@bar.rank}"
            .stat
              .section
                = t 'bar.stats.bar_weekly_activity'
              .value
                = t 'bar.stats.bar_active_members', :count => @bar.active_members
                %br
                = t 'bar.stats.bar_new_active_members', :count => @bar.new_active_members
            .stat
              .section
                = t 'bar.stats.weekly_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@bar.weekly_beers)
            .stat
              .section
                = t 'bar.stats.total_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@bar.total_beers)
            %br
            .header
              = t 'bar.stats.my_stats'
            .portrait
              = image_tag @me.profile_picture, :alt => @me.full_name, :class => 'portrait'
            .stat
              .section
                = t 'bar.stats.weekly_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@barship.weekly_beers)
            .stat
              .section
                = t 'bar.stats.total_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@me.total_beers)
            .clear
            .stat
              .section
                = t 'bar.stats.member_since'
              .value
                = l(@barship.created_at, :format => :short)
            .stat
              .section
                = t 'bar.stats.best_rank_title'
              .value
                = t 'bar.stats.best_rank_value', :rank => @barship.best_rank, :date => l(@barship.best_rank_date, :format => :short)
            .stat
              .section
                = t 'bar.stats.play_count'
              .value
                = number_with_delimiter(@barship.play_count)
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow

:javascript
  $(function() {
    $('#game').flash({
      swf: "/swf/BeerQuest-#{@required_version}.swf",
      width: 520,
      height: 320,
      flashvars: {
        mode: "#{@mode}",
        token: "#{@replay.token}",
        requiredVersion: #{@required_version}
      }
    });
  });
