- @css = 'bar'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.unique-col
      %table.bar-area
        %tr
          %td.bar-name{:colspan => 2}
            %h1= @bar.name
            %a{:href => @bar.url, :target => '_blank'}= @bar.url
            .member-count
              = t 'bar.member_count', :count => number_with_delimiter(@bar.total_members)
              = "-"
              = t 'bar.beer_count', :count => number_with_delimiter(@bar.total_beers)
          %td.bar-logo
            = image_tag @bar.banner, :alt => @bar.name, :class => 'bar-banner'
        %tr
          %td.play-field{:colspan => 2}
            #game
          %td.sidebar
            %ul.tabs
              - if @rss
                %li
                  %a{:href => 'javascript:void(0)'}= t 'bar.right.news.title'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.right.messages.title'
            .panes
              - if @rss
                .pane#rss
                  %ul.rss
                    - @rss.each do |rss|
                      %li
                        %a{:href => rss[:url]}= rss[:title]
              .pane#messages
                = render :partial => 'messages'
        %tr.bottom
          %td.bar-scores
            .panes
              .pane#barscore-7j
                %table
                  %tr
                    %td.header= t 'bar.scores.bar'
                    %td.subnav#subtabs1
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes1
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores_for(@me)
              .pane#barscore-always
                %table
                  %tr
                    %td.header= t 'bar.scores.bar'
                    %td.subnav#subtabs2
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes2
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores_for(@me)
            %ul.tabs
              %li
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.weekly'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.always'
          %td.friends-scores
            .panes
              .pane#friendsscore-7j
                %table
                  %tr
                    %td.header= t 'bar.scores.friends'
                    %td.subnav#subtabs3
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes3
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores_for(@me)
              .pane#friendsscore-always
                %table
                  %tr
                    %td.header= t 'bar.scores.friends'
                    %td.subnav#subtabs4
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.all'
                      = "-"
                      %a{:href => 'javascript:void(0)'}= t 'bar.scores.me'
                .subpanes#subpanes4
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores_for(@me)
            %ul.tabs
              %li
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.weekly'
              %li.last
                %a{:href => 'javascript:void(0)'}= t 'bar.scores.always'
          %td.bar-stats
            .header
              = t 'bar.stats.bar_stats'
            .stat
              .section
                = t 'bar.stats.bar_rank'
              .value
                = "##{@bar.rank}"
            .stat
              .section
                = t 'bar.stats.bar_weekly_activity'
              .value
                = t 'bar.stats.bar_active_members', :count => @bar.active_members
                %br
                = t 'bar.stats.bar_new_active_members', :count => @bar.new_active_members
            .stat
              .section
                = t 'bar.stats.weekly_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@bar.weekly_beers)
            .stat
              .section
                = t 'bar.stats.total_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@bar.total_beers)
            %br
            .header
              = t 'bar.stats.my_stats'
            .portrait
              = image_tag @me.profile_picture, :alt => @me.full_name, :class => 'portrait'
            .stat
              .section
                = t 'bar.stats.weekly_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@barship.weekly_beers)
            .stat
              .section
                = t 'bar.stats.total_beers'
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                = number_with_delimiter(@me.total_beers)
            .clear
            .stat
              .section
                = t 'bar.stats.member_since'
              .value
                = l(@barship.created_at, :format => :short)
            -#.stat
            -#  .section
            -#    = t 'bar.stats.best_rank_title'
            -#  .value
            -#    = t 'bar.stats.best_rank_value', :rank => @barship.best_rank, :date => l(@barship.best_rank_date, :format => :short)
            .stat
              .section
                = t 'bar.stats.play_count'
              .value
                = number_with_delimiter(@barship.play_count)
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow

#message-dialog{:title => t('bar.endgame.message.title')}
  %textarea#message-content{:rows => 3, :cols => 50}

:javascript
  $(function() {
    $('#game').flash({
      swf: "/swf/BeerQuest-#{Game::Constants::VERSION}.swf",
      width: 520,
      height: 320,
      flashvars: {
        mode: "#{@mode}",
        lang: "#{I18n.locale}",
        token: "#{@replay.token}",
        requiredVersion: #{Game::Constants::VERSION}
      }
    });
    $('#message-dialog').dialog({
      autoOpen: false,
      modal: true,
      resizable: false,
      position: [125, 320],
      buttons: {
        "#{t('bar.endgame.message.button')}": function() {
          $.post("#{endgame_message_url}", {
            token: "#{@replay.token}",
            message: $('#message-content').val()
          }, function() {
            $.get("#{async_bar_messages_url(@bar)}");
          });
          $(this).dialog('close');
        }
      },
      close: function() {
        $.get("#{async_bar_messages_url(@bar)}");
      }
    });
  });

  function endOfGame()
  {
    setTimeout(function() {
      $('#message-dialog').dialog('open');
    }, 3000);
  }

  function soloBoast(score)
  {
    FB.ui(
    {
       method: "stream.publish",
       user_message_prompt: "#{t('bar.endgame.boast.prompt')}",
       message: "#{t('bar.endgame.boast.default_message_pre')}" + score + "#{t('bar.endgame.boast.default_message_post')}",
       action_links: [
         { text: "#{t('bar.endgame.boast.action')}", href: "#{BeerQuest::FB_APP_URL}#{home_path}" }
       ]
    });
  }

  function soloPlayAgain()
  {
    location.reload();
  }
