- @css = 'play'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.unique-col
      %table.bar-area
        %tr
          %td.bar-name{:colspan => 2}
            %h1= @bar.name
            %a{:href => @bar.url}= @bar.url
            .member-count= "#{number_with_delimiter(@bar.total_members)} Membres - #{number_with_delimiter(@bar.total_beers)} bières bues"
          %td.bar-logo
            = image_tag @bar.banner, :alt => @bar.name, :class => 'bar-banner'
        %tr
          %td.play-field{:colspan => 2}
            #game
          %td.sidebar
            %ul.tabs
              %li
                %a{:href => '#'} News Bar
              %li.last
                %a{:href => '#'} Messages
            .panes
              .pane#rss
                %ul.rss
                  %li
                    %a{:href => '#'} La fable du blogueur qui aurait mangé un journaliste
                  %li
                    %a{:href => '#'} 10 plugins pour mieux sécuriser votre blog sous Wordpress
                  %li
                    %a{:href => '#'} Twitter : 10 façons d’augmenter votre nombre de followers
                  %li
                    %a{:href => '#'} Les bureaux des blogueurs du Top 20 Wikio
                  %li
                    %a{:href => '#'} Shazam, une application pour iPhone époustouflante
                  %li
                    %a{:href => '#'} Twitter : 10 façons d’augmenter votre nombre de followers
                  %li
                    %a{:href => '#'} Les bureaux des blogueurs du Top 20 Wikio
                  %li
                    %a{:href => '#'} Shazam, une application pour iPhone époustouflante
              .pane#messages
                messages
        %tr.bottom                    
          %td.bar-scores
            .panes
              .pane#barscore-7j
                %table
                  %tr
                    %td.header Scores du bar
                    %td.subnav#subtabs1
                      %a{:href => '#'} Tous
                      = "-"
                      %a{:href => '#'} Moi
                .subpanes#subpanes1
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores_for(@account)
              .pane#barscore-always
                %table
                  %tr
                    %td.header Scores du bar
                    %td.subnav#subtabs2
                      %a{:href => '#'} Tous
                      = "-"
                      %a{:href => '#'} Moi
                .subpanes#subpanes2
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores_for(@account)
            %ul.tabs
              %li
                %a{:href => '#'} 7 jours
              %li.last
                %a{:href => '#'} Toujours
          %td.friends-scores
            .panes
              .pane#friendsscore-7j
                %table
                  %tr
                    %td.header Scores de vos amis
                    %td.subnav#subtabs3
                      %a{:href => '#'} Tous
                      = "-"
                      %a{:href => '#'} Moi
                .subpanes#subpanes3
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.weekly_scores_for(@account)
              .pane#friendsscore-always
                %table
                  %tr
                    %td.header Scores de vos amis
                    %td.subnav#subtabs4
                      %a{:href => '#'} Tous
                      = "-"
                      %a{:href => '#'} Moi
                .subpanes#subpanes4
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores
                  .subpane
                    %table.barscore-grid
                      = render :partial => 'barscore', :collection => @bar.total_scores_for(@account)
            %ul.tabs
              %li
                %a{:href => '#'} 7 jours
              %li.last
                %a{:href => '#'} Toujours
          %td.bar-stats
            .header
              Statistiques du bar
            .stat
              .section
                Place du bar
              .value
                = "#720"
            .stat
              .section
                Activité Membres 7 jours
              .value
                34.000 actifs
                %br
                233.000 en +
            .stat
              .section
                Bières sur 7 jours
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                1.223.912
            .stat
              .section
                Bières au total
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                52.100.654
            %br
            .header
              Mes stats du bar
            .portrait
              = image_tag 'avatar1.png', :class => 'portrait'
            .stat
              .section
                Bières sur 7 jours
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                43.000
            .stat
              .section
                Bières au total
              .value
                = image_tag 'mini-biere.png', :alt => t('beers')
                1.230.190
            .clear
            .stat
              .section
                Membre du bar depuis
              .value
                12.08.2010
            .stat
              .section
                Meilleur rang dans ce bar
              .value
                = "#12 le 14.08.2010"
            .stat
              .section
                Nombre de parties
              .value
                840
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow

:javascript
  $(function() {
    $('#game').flash({
      swf: "/swf/BeerQuest-#{@required_version}.swf",
      width: 520,
      height: 320,
      hasVersion: 9,
      flashvars: {
        mode: "#{@mode}",
        token: "#{@token}",
        requiredVersion: #{@required_version}
      }
    });
  });
