- @css = 'home'
%table.cols
  %tr.small
    %td.small
    %td
    %td.small
    %td
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.left-col
      = image_tag 'titre-mode-score.png', :alt => t('home.score.mode'), :class => 'col-title'
      .col-content
        %table.player
          %tr
            %td.portrait{:rowspan => 2}
              = image_tag @account.profile_picture, :alt => @account.full_name, :class => 'portrait'
            %td.score-desc= t 'home.score.best_7d'
            %td.score-value
              = image_tag 'mini-biere.png', :alt => t('beers')
              = number_with_delimiter(378)
          %tr
            %td.score-desc= t 'home.score.total_beers'
            %td.score-value.total
              = image_tag 'mini-biere.png', :alt => t('beers')
              = number_with_delimiter(1_324_323)
        %table.action
          %tr
            %td.description= t 'home.score.play_description_html'
            %td.action
              .button
                %a{:href => '#'}= t 'home.score.button_html'
        %ul.tabs
          %li
            %a{:href => '#'}= t 'home.score.tabs.favorites.title'
          %li
            %a{:href => '#'}= t 'home.score.tabs.bartners.title'
          %li.last
            %a{:href => '#'}= t 'home.score.tabs.search.title'
        .panes
          .pane#favorites
            %table.header
              %tr
                %td.bar-count= t 'home.score.tabs.favorites.bar_count', :count => 22
                %td.pane-pages
                  = t 'home.score.tabs.pages'
                  %a.page-link{:href => '#'} 1
                  %a.page-link{:href => '#'} 2
                  %span.page-link.current 3
                  %a.page-link{:href => '#'} 4
                  = "..."
                  %a.page-link{:href => '#'} 9
            = render :partial => 'bar'
            = render :partial => 'bar'
            = render :partial => 'bar'
          .pane#bartners
            %table.header
              %tr
                %td.bar-count= t 'home.score.tabs.bartners.bar_count', :count => 1
                %td.pane-pages
                  = t 'home.score.tabs.pages'
                  %a.page-link{:href => '#'} 1
                  %a.page-link{:href => '#'} 2
                  %span.page-link.current 3
                  %a.page-link{:href => '#'} 4
                  = "..."
                  %a.page-link{:href => '#'} 9
            = render :partial => 'bar'
          .pane#search
            .search
              .description= t 'home.score.tabs.search.alphabetic_order'
              .values
                %a.page-link{:href => '#'} 123
                - "A".ord.upto("Z".ord).each do |letter|
                  - if letter == "M".ord
                    %br
                  %a.page-link{:href => '#'}= letter.chr
            %table.header
              %tr
                %td.bar-count= t 'home.score.tabs.search.results', :count => 3, :search => 'A'
                %td.pane-pages
                  = t 'home.score.tabs.pages'
                  %a.page-link{:href => '#'} 1
                  %a.page-link{:href => '#'} 2
                  %span.page-link.current 3
                  %a.page-link{:href => '#'} 4
                  = "..."
                  %a.page-link{:href => '#'} 9
            = render :partial => 'bar'
            = render :partial => 'bar'
            = render :partial => 'bar'
    %td.small.shadow

    %td.separator

    %td.small
    %td.right-col
      = image_tag 'titre-mode-battle.png', :alt => t('home.battle.mode'), :class => 'col-title'
      .col-content
        %table.player
          %tr
            %td.portrait{:rowspan => 2}
              = image_tag @account.profile_picture, :alt => @account.full_name, :class => 'portrait'
            %td.score-desc= t 'home.battle.respect_points', :count => number_with_delimiter(3_450)
          %tr
            %td.score-desc= t 'home.battle.shame_points', :count => number_with_delimiter(12)
        %table.action
          %tr
            %td.description= t 'home.battle.play_description_html'
            %td.action
              .button
                %a{:href => '#'}= t 'home.battle.button_html'
        %ul.tabs
          %li
            %a{:href => '#'}= t 'home.battle.tabs.current.title'
          %li
            %a{:href => '#'}= t 'home.battle.tabs.received.title', :count => 12
          %li.last
            %a{:href => '#'}= t 'home.battle.tabs.sent.title', :count => 3
        .panes
          .pane#current
            %table.challenge-grid
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
          .pane#received
            %table.challenge-grid
              = render :partial => 'challenge'
              = render :partial => 'challenge'
          .pane#sent
            %table.challenge-grid
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
              = render :partial => 'challenge'
            .battle-warning Les défis sont annulés au bout d'une semaine s'ils ne sont pas acceptés.
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow
    %td
    %td.small
    %td.shadow
    %td.small.shadow
