%table.cols
  %tr.small
    %td.small
    %td
    %td.small
  %tr
    %td.small
    %td.unique-col
      %table.bar-area
        %tr
          %td.bar-name{:colspan => 2}
            %h1 «Mon Citron»’s BAR
            %a{:href => "http://www.presse-citron.net"} http://www.presse-citron.net
            .member-count 12.412 Membres - 3.214,3 m3 de bière bue
          %td.bar-logo
            = image_tag 'logo-bar2.png', :alt => "Presse Citron", :class => 'bar-banner'
        %tr
          %td.play-field{:colspan => 2}
            #game
          %td.sidebar
            %ul.rss
              %li
                %a{:href => '#'} La fable du blogueur qui aurait mangé un journaliste
              %li
                %a{:href => '#'} 10 plugins pour mieux sécuriser votre blog sous Wordpress
              %li
                %a{:href => '#'} Twitter : 10 façons d’augmenter votre nombre de followers
              %li
                %a{:href => '#'} Les bureaux des blogueurs du Top 20 Wikio
              %li
                %a{:href => '#'} Shazam, une application pour iPhone époustouflante
              %li
                %a{:href => '#'} Twitter : 10 façons d’augmenter votre nombre de followers
              %li
                %a{:href => '#'} Les bureaux des blogueurs du Top 20 Wikio
              %li
                %a{:href => '#'} Shazam, une application pour iPhone époustouflante
        %tr.bottom
          %td.bar-scores
            .header
              Scores du bar
            %table.barscore-grid
              = render :partial => 'barscore'
              = render :partial => 'barscore'
              = render :partial => 'barscore'
              = render :partial => 'barscore'
              = render :partial => 'barscore'
          %td.friends-scores
            .header
              Scores de vos amis
            %table.barscore-grid
              = render :partial => 'barscore'
              = render :partial => 'barscore'
              = render :partial => 'barscore'
              = render :partial => 'barscore'
              = render :partial => 'barscore'
          %td.bar-stats
            .header
              Statistiques du bar
            .stat
              .section
                Place du bar
              .value
                = "#720"
            .stat
              .section
                Activité Membres 7 jours
              .value
                34.000 actifs
                %br
                233.000 en +
            .stat
              .section
                Bières sur 7 jours
              .value
                1.223.912
            .stat
              .section
                Bières au total
              .value
                52.100.654
            %br
            .header
              Mes stats du bar
            .portrait
              = image_tag 'avatar1.png', :class => 'portrait'
            .stat
              .section
                Bières sur 7 jours
              .value
                43.000
            .stat
              .section
                Bières au total
              .value
                1.230.190
            .clear
            .stat
              .section
                Membre du bar depuis
              .value
                12.08.2010
            .stat
              .section
                Meilleur rang dans ce bar
              .value
                = "#12 le 14.08.2010"
            .stat
              .section
                Nombre de parties
              .value
                840
    %td.small.shadow
  %tr.small
    %td.small
    %td.shadow
    %td.small.shadow

:javascript
  /*$(function() {
    $('#game').flash({
      swf: "/swf/BeerQuest-#{@required_version}.swf",
      width: 520,
      height: 320,
      hasVersion: 9,
      flashvars: {
        mode: "#{@mode}",
        token: "#{@token}",
        requiredVersion: #{@required_version}
      }
    });
  });*/
