%h1 Beer Quest IV: Challenge of the Bartender
%br
%br
#identity
	You are logged as
	%strong
		= @full_name
%br
#game

-#%input#testEvent{:type => 'button', :value => "Raise event"}
:javascript
	$(function() {
		$('#game').flash({
			swf: "/swf/BeerQuest.swf",
			width: 760,
			height: 612,
			hasVersion: 9,
			flashvars: {
				mode: "#{@mode}",
				serverUrl: "#{@server_url}",
				token: "#{@token}",
				requiredVersion: 0.2,
				me: $.JSON.encode(#{@me}),
				opponent: $.JSON.encode(#{@opponent}),
				bar: $.JSON.encode(#{@bar}),
				highScores: $.JSON.encode(#{@scores})
			}
		});
		$('#testEvent').click(function() {
			$('#game object')[0].testJs();
		});
	});

	function callFromFlex(s) {
		alert("Called from Flex with: " + s);
	}
